body {
  font-size:0.8rem;
  background:#000;
}

.post-img-wrap {
  border:5px solid #eee;
  position:relative;
}

.blog-tags {
  font-size:0.70rem;
  line-height: 32px;
}

.blog-tags a {
  border:1px solid #eee;
  padding:5px 10px;
}

.intro-header.big-img {
    background-position:center; 
}

.watermark {
  position:absolute; 
  color:#eee; 
  bottom:20px; 
  right:24px;
  font-size:.75rem;
}
